@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  @apply bg-gray-50;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @apply text-2xl font-semibold text-primary;
}

h2 {
  @apply text-xl font-semibold text-primary;
}

h3 {
  @apply text-sm text-gray-600;
}

/* UI Library specific */

.form-error {
  @apply whitespace-nowrap text-left text-sm text-negative;
}

.form-input-container, .form-input {
  @apply w-full;
}

.form-input {
  @apply rounded-md;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  @apply border-gray-100 outline-none;
}