@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  @apply bg-gray-50;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @apply text-2xl font-semibold text-primary;
}

h2 {
  @apply text-xl font-semibold text-primary;
}

h3 {
  @apply text-sm text-gray-600;
}

/* UI Library specific */

.form-error {
  @apply text-left text-sm text-negative;
}

.form-input-container,
.form-input {
  @apply w-full;
}

.form-input-container {
  @apply flex flex-row items-center;
}

.form-input {
  @apply rounded-md;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  @apply border-gray-100 outline-none;
}

.form-label {
  @apply flex flex-col w-full gap-1;
}

.form-label-text {
  @apply text-primary;
}

.form-show-password-container {
  @apply p-2 bg-gray-50 rounded-md;
}

.form-checkbox-label {
  @apply text-xs font-medium text-primary;
}

*:focus {
  outline: none;
  outline-width: 0;
}
input:focus {
  outline: none;
}

.button-small {
  @apply py-1 px-2 text-xs;
}

.button-medium {
  @apply py-3 px-4 text-xs font-semibold;
}

.button-large {
  @apply py-3 px-4 text-base font-semibold;
}

.button-variant-primary {
  @apply text-white bg-primary;
}

.button-variant-secondary {
  @apply text-primary bg-gray-50 border border-gray-100;
}

.button-variant-tertiary {
  @apply text-primary bg-white;
}

.button-variant-failure {
  @apply text-white bg-negative;
}

.popover {
  @apply flex flex-col gap-5 border rounded-md border-gray-100 p-4 text-sm bg-white text-primary;
}

.table-header-text {
  @apply text-xs text-gray-600 font-medium;
}
